* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  transition: 0.5s;
}

/*EDICIÓN: HEADER GENERAL PARA TODAS LAS PAGINAS*/
header {
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #ff5500;
  background-color: #ff5500(35 0% 2% / 0.995);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(8, 8, 8, 0.955);
}

.header .style {
  background-color: #ff5500;
}

.top-nav {
  text-align: center;
  font-style: initial;
  color: rgb(0, 0, 0);
}

.navinicio {
  justify-content: center;
  margin-bottom: 200px;
}

.caja-icons {
  text-align: end;
}

.container-input {
  text-align: center;
  margin-top: 20px;
}

.div-p {
  list-style-type: none;
  text-align: center;
  border: solid 2px;
  border-color: orange;
}

.pheader {
  display: inline;
  background-color: orange;
}

.ulnav {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

.div-logo {
  border: solid 2px;
}

input {
  list-style-type: none;
  align-items: center;
}


/*EDICIÓN DEL MAIN*/
.section1-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article1-main {
  width: 100vh;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.article1-main img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.article1-main img:hover {
  transform: scale(1.1);
}

.destacados {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: black;
  transition: color 0.3s ease-in-out;
}

.destacados:hover {
  color: red;
}

.destacados {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.img1-creatinas {
  margin-top: 200px;
  margin-left: 450px
}

.img2-creatinas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.articulo1-contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.section2-main {
  display: flex;
  text-align: center;
}

.section2-main .article2-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.caja-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.caja-img2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.imagen-home {
  height: 250px;
  height: 250px;
}

.cont-grillas-prod {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 300px 300px 300px;
  gap: 20px;
}

.cont-grillas-prod .imgs {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cont-grillas-prod .imgs:hover .imgs {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(11, 11, 11);
}


.section-form {
  flex: auto;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #3e8e41;
}

.cont-grillas {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 20px;
}

.cont-grillas .img-crea {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cont-grillas .img-crea:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(11, 11, 11);
}

.p-creatina {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.p-creatina .art-p-creatina {
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-style: italic;
  font: bold;
}


.cont-imagen {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  background-color: red;
}

.cont1 .cont-imagen1 {
  position: relative;
  bottom: 0;
}

.seccion-2 p {
  text-align: justify;
}

/*EDICIÓN: FOOTER GENERAL*/
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--mdb-gutter-x) * 0.5);
  padding-left: calc(var(--mdb-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.after,
::before {
  box-sizing: border-box;
}

.btn {
  margin-left: 0% !important;
  display: flex;
  width: 80px;
  height: 60px;
}

.text-white {
  text-align: center;
  font-style: normal;
}

.seccion-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-item .img {
  width: 100px;
  height: 150px;
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 5px 0;
}

.text-center {
  background-color: #ff5500;
}

.img {
  background-color: #54456b
}


/* las paginas responsive son la de inicio, contacto y compra */
/*  paginas de productos y creatinas las estoy modificando todavia. */
/* responsive tablet */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .article1-main {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .destacados {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .caja-img {
    width: 769px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .caja-img2 {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .imagen-home {
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
  }

  .tamaño {
    width: 100px;
    height: 80px;
  }

  .form-contacto {
    height: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .articulo1-compra {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cont-grillas-prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (6, min-content);
    justify-items: center;
  }

  .cont-grillas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (7, min-content);
    justify-items: center;
  }

  .art-p-creatina {
    padding: 20px;
  }

  .cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }
}

/* responsive movil */

@media screen and (min-width: 320px) and (max-width: 800px) {
  .article1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 50px;
    margin-top: 100px;
  }

  .destacados {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .imagen-home {
    width: 250px;
    height: fit-content;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
  }

  .tamaño {
    width: 50px;
    height: 50px;
  }

  .form-contacto {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 150px;
  }

  .articulo1-compra {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .cont-grillas-prod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (12, min-content);
    justify-items: center;
  }

  .cont-grillas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (14, min-content);
    justify-items: center;
  }

  .centrado {
    flex-direction: column;
  }

  .art-p-creatina {
    padding: 20px;
  }

  .seccion-compras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

}

/*# sourceMappingURL=style.css.map */