@charset "UTF-8";

/*VARIABLES PARA MIS CAJAS
$bordes-cajas: 2px solid red;
$background-cajas: yellow;


/*VARIABLES DE ESTRUCTURA MAIN
$.....

antes de hacer los import.. debemos unificar nuestras secciones
con padres e hijos dentro de la raiz de cada una.

/*VARIABLES DE IMPORTS
@import "carpeta creada en sass.."
las separamos en secciones para que no se haga tan largo
y podamos encontrar mas rapido lo q buscamos.
cortamos el contenido y lo pegamos en la nueva carpeta..
luego las importamos, asi quedan conectadas.
por ej: _footer.scss <- y en esa carpeta cortamos y
pegamos nuestro footer. desp lo imporatmos y se conectan.
asi hacemos con cada seccion para separar.


/*FORMATEO DE ESTILO*/
* {
  /* border: 1px solid red; */
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  transition: 0.5s;
}

body {
  position: relative;
  padding-bottom: 400px;
  min-height: 100vh;
}

/*EDICIÓN: HEADER GENERAL PARA TODAS LAS PAGINAS*/
header {
  height: 80px;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: hwb(0 98% 2%/0.995);
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(8, 8, 8, 0.955);
}

.top-nav {
  text-align: center;
  font-style: initial;
  color: aliceblue;
}

.navinicio {
  justify-content: center;
  margin-bottom: 200px;
}

.caja-icons {
  text-align: end;
}

.container-input {
  text-align: center;
  margin-top: 20px;
}

/* .fa-solid fa-heart 
.fa-solid fa-cart-shopping {
margin-left: 150px;
} */
.div-p {
  list-style-type: none;
  text-align: center;
  border: solid 2px;
  border-color: orange;
}

.pheader {
  display: inline;
  background-color: orange;
}

.ulnav {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

.div-logo {
  border: solid 2px;
}

input {
  list-style-type: none;
  align-items: center;
}


/*EDICIÓN DEL MAIN*/
main {
  width: 90%;
  margin: 0 auto;
}

  .seccion1-main {
    width: 80px;
    height: 80px;
    margin: auto 0;
  }

  .article1-main {
    width: 100vh;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
  }
  .article1-main img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .article1-main img:hover {
    transform: scale(1.1);
  }

.destacados {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: black;
  transition: color 0.3s ease-in-out;
}

.destacados:hover {
  color: red;
}

.destacados {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.img1-creatinas {
  margin-top: 200px;
  margin-left: 450px
}

.img2-creatinas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.articulo1-contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.section2-main {
  display: flex;
  text-align: center;
}

.section2-main .article2-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.caja-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.caja-img2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.imagen-home {
  height: 250px;
  height: 250px;
}

/* //////////////////////////// */
/* pagina productos imagenes grillas..
/////////////////////////// */

.cont-grillas-prod {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 300px 300px 300px 300px;
  gap: 20px;
}

.cont-grillas-prod .img {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cont-grillas-prod .img:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(11, 11, 11);
}



/*pagina de contactos*/
/*/////////////////////////////////////////////////////////////*/
.section-form {
  flex: auto;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: #3e8e41;
}

/*///////////////////////////////////////////////
/*paginas para cont-img grillas (pagina creatinas)*/

.cont-grillas {
  display: grid;
  align-items: center;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 20px;
}

.cont-grillas .img-crea {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cont-grillas .img-crea:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(11, 11, 11);
}

/* //////////////////////////////////////////////////////////// */
/* parrafo de la pagina de productos */
.p-creatina {
  margin: auto;
  text-align: center;
}

.p-creatina .art-p-creatina {
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  text-align: center;
}

/*PÁGINA IMÁGENES*/
.cont-imagen {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  background-color: red;
}

.cont1 .cont-imagen1 {
  position: relative;
  bottom: 0;
}


/*EDICIÓN 2#SECTION*/
.seccion-2 p {
  text-align: justify;
}

/*EDICIÓN: FOOTER GENERAL*/
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--mdb-gutter-x) * 0.5);
  padding-left: calc(var(--mdb-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.after,
::before {
  box-sizing: border-box;
}

.btn {
  margin-left: 0% !important;
  display: flex;
  width: 80px;
  height: 60px;
}

.text-white {
  text-align: center;
  font-style: normal;
}

/* las paginas responsive son la de inicio, contacto y compra */
/*  paginas de productos y creatinas las estoy modificando todavia. */
/* responsive tablet */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .article1-main {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .destacados {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .caja-img {
    width: 769px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .caja-img2 {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .imagen-home {
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
  }

  .tamaño {
    width: 100px;
    height: 80px;
  }

  .form-contacto {
    height: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .articulo1-compra {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cont-grillas-prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (6) min-content;
    justify-items: center;
  }

  .cont-grillas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (7) min-content;
    justify-items: center;
  }
}

/* responsive movil */

@media screen and (min-width: 320px) and (max-width: 800px) {
  .article1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 50px;
    margin-top: 100px;
  }

  .destacados {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .imagen-home {
    width: 250px;
    height: 150px;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
  }

  .tamaño {
    width: 50px;
    height: 50px;
  }

  .form-contacto {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 150px;
  }

  .articulo1-compra {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .cont-grillas-prod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (12) min-content;
    justify-items: center;
  }

  .cont-grillas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (14) min-content;
    justify-items: center;
  }
}

/*# sourceMappingURL=style.css.map */