/*FORMATEO DE ESTILO*/
*{
/* border: 1px solid red; */
    margin: 0;
    list-style: none;
    box-sizing: border-box; 
}
a:link , a:visited , a:active {
    text-decoration: none;
    transition: .5s;
}

body {
    position: relative;
    padding-bottom: 400px;
    min-height: 100vh;
}



/*EDICIÓN: HEADER GENERAL PARA TODAS LAS PAGINAS*/
header {
    height: 80px;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: hwb(0 98% 2% / 0.995);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(8, 8, 8, 0.955);
    
}

.top-nav {
    text-align: center;
    font-style: initial;
    color: aliceblue;
}

.navinicio {
justify-content: center;
    margin-bottom: 200px;
}
.caja-icons {
text-align: end;
}

.container-input {
    text-align: center;
    margin-top: 20px;
}

/* .fa-solid fa-heart 
.fa-solid fa-cart-shopping {
margin-left: 150px;
} */

.div-p {
    list-style-type: none;
    text-align: center;
    border: solid 2px;
    border-color: orange;
}

.pheader{
    display: inline;
    background-color: orange
}

.ulnav {
    list-style-type: none;
    text-align: center;
    }

    li  {
    display: inline;
    }

    a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
    }

    .div-logo {
        border: solid 2px;
    }
    input {
    list-style-type: none;
    align-items: center;
    }



    /*HEADER-NAV*/

/*////////////////////////////////////PSEUDO-CLASES////////////////////////////////////////////////////////////////////*/
/*LINK NO VISITADO El estado predeterminado que presenta un enlace cuando no está en ningún otro estado.*/
/* a:link {
 color: #265301; 
} */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Un enlace cuando ya se ha visitado (está grabado en el historial del navegador)*/
/* a:visited { 
    color: #437A16;
} */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Un enlace cuando tiene el foco (por ejemplo, se salta a este con la tecla Tab del teclado*/
/* a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
} */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Un enlace cuando se le pasa el cursor por encima*/
/* a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
} */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Un enlace cuando se activa (por ejemplo, se hace clic encima)*/
/* a:active {
    background: #265301;
    color: #CDFEAA;
} */






/*EDICIÓN DEL MAIN*/
main {
    width: 90%;
    margin: 0 auto;
}

.article1-main {
    width: 900px;
    height: 150px;
    margin-top: 50px;
margin-bottom: 50px;
margin-top: 150px;
margin-left: 250px;
}


.seccion-1 {
   width: 80px;
   height: 80px;
   margin:auto 0
}

.article1-main {
display: flex;
align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    color: black;
}

.artic-main {
    margin-top: 150px;
    display: flex;
    margin-left: 275px;
}

.img1-creatinas {
margin-top: 200px;
margin-left: 450px;
}

.img2-creatinas {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.articulo1-contacto {
 display: flex;
justify-content: space-around;
margin-top: 150px;
}

.section2-main {
    display: flex;
    text-align: center; 
}

.section2-main .article2-main {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 50px;
}

.caja-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.caja-img2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.imagen-home {
    height: 250px;
    height: 250px;
}


/* //////////////////////////// */
/* pagina productos imagenes grillas..
/////////////////////////// */


.cont-grillas-prod {
    justify-content: center;
    margin-top: 200px;
    margin-left: 180px;
    margin-bottom: 100px;
    width: 1080px;
    height: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 300px 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
    }
    
    .cont-grillas-prod img {
    width: 190px;
    height: 200px;
    justify-content: center;
    margin-inline: auto;
    }
    
    
    .cont-grillas .grilla-img-prod1 {
    grid-column: 1/2;
    grid-row: 1;
    }
    
    .cont-grillas .grilla-img-prod2 {
    grid-column: 2/3;
    grid-row: 1;
    }
    
    .cont-grillas-prod .grilla-img-prod3 {
    grid-column: 3/4;
    grid-row: 1;
    }
    
    .cont-grillas-prod .grilla-img-prod4 {
    grid-column: 4/5;
    grid-row: 1;
     }
    
    .cont-grillas-prod .grilla-img-prod5 {
    grid-column: 1/2;
    grid-row: 2;
    }
    
    .cont-grillas-prod .grilla-img-prod6 {
    grid-column: 2/3;
    grid-row: 2;
    }
    
    .cont-grillas-prod .grilla-img-prod7 {
     grid-column:3/4;
      grid-row: 2;
     }
    
    .cont-grillas-prod .grilla-img-prod8 {
    grid-column: 4/5;
    grid-row: 2/3;
    }
    
    .cont-grillas-prod .grilla-img-prod9 {
    grid-column: 1/2;
    grid-row: 3;
    }
    
    .cont-grillas-prod .grilla-img-prod10 {
    grid-column: 2/3;
    grid-row: 3;
    }
    
    .cont-grillas-pr5od .grilla-img-prod11 {
    grid-column: 3/4;
    grid-row: 3;
    }
    
    .cont-grillas-prod .grilla-img-prod12 {
    grid-column: 4/5;
    grid-row: 3;
    }

/*pagina de contactos*/
/*/////////////////////////////////////////////////////////////*/

.section-form {
    flex: auto;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

form {
    width: 80%;
    max-width: 500px;
    justify-content: center;
    margin-left: 400px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }



/*///////////////////////////////////////////////
/*paginas para cont-img grillas (pagina creatinas)*/

.cont-grillas {
justify-content: center;
margin-top: 200px;
margin-left: 180px;
margin-bottom: 100px;
width: 1080px;
height: 1250px;
display: grid;
grid-template-columns: repeat(4, 250px);
grid-template-rows: 300px 300px 300px 300px;
column-gap: 20px;
row-gap: 20px;
}

.cont-grillas img {
width: 190px;
height: 248px;
justify-content: center;
margin-inline: auto;
}


.cont-grillas .grilla-img1 {
grid-column: 1/2;
grid-row: 1;
}

.cont-grillas .grilla-img2 {
grid-column: 2/3;
grid-row: 1;
}

.cont-grillas .grilla-img3 {
grid-column: 3/4;
grid-row: 1;
}

.cont-grillas .grilla-img4 {
grid-column: 4/5;
grid-row: 1;
 }

.cont-grillas .grilla-img5 {
grid-column: 1/2;
grid-row: 2;
}

.cont-grillas .grilla-img6 {
grid-column: 2/3;
grid-row: 2;
}

.cont-grillas .grilla-img7 {
 grid-column:3/4;
  grid-row: 2;
 }

.cont-grillas .grilla-img8 {
grid-column: 4/5;
grid-row: 2/3;
}

.cont-grillas .grilla-img9 {
grid-column: 1/2;
grid-row: 3;
}

.cont-grillas .grilla-img10 {
grid-column: 2/3;
grid-row: 3;
}

.cont-grillas .grilla-img11 {
grid-column: 3/4;
grid-row: 3;
}

.cont-grillas .grilla-img12 {
grid-column: 4/5;
grid-row: 3;
}

.cont-grillas .grilla-img13 {
grid-column: 1/2;
grid-row: 4;
}

.cont-grillas .grilla-img14 {
grid-column: 2/3;
grid-row: 4;
}


/* //////////////////////////////////////////////////////////// */
/* parrafo de la pagina de productos */



.p-creatina {
    margin: auto;
    text-align: center;
}

.p-creatina .art-p-creatina {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}


/*PÁGINA IMÁGENES*/

.cont-imagen {
width: 200px;
height: 200px;
margin: 0 auto;
position: relative;  
background-color: red;  
}
.cont1 .cont-imagen1{
    position: relative;
    bottom: 0;
}

.cont1img {
    width: 300px;
    height: 200px;

    
}


/*EDICIÓN 2#SECTION*/

.seccion-2 p {
    text-align: justify;
}




/*EDICIÓN: FOOTER GENERAL*/


  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--mdb-gutter-x)*0.5);
    padding-left: calc(var(--mdb-gutter-x)*0.5);
    margin-right: auto;
    margin-left: auto;
  }
  .after, ::before {
    box-sizing: border-box;
  }

  .btn {
    margin-left: 0% !important;
    display: flex;
    width: 80px;
    height: 60px;
  }

  .text-white {
    text-align: center;
    font-style: normal;
  }

  /* las paginas responsive son la de inicio, contacto y compra */
  /*  paginas de productos y creatinas las estoy modificando todavia. */
/* responsive tablet */

  @media (max-width: 769px) {

.article1-main{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
}
.destacados {
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 300px;

}
.caja-img {
    width: 769px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.caja-img2 {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.imagen-home {
    width: 200px;
    height: 250px;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
}



.cont-grillas-prod {
width: 769px;
height: 800px;
display: flex;
flex-direction: column;
}

.tamaño {
    width: 100px;
    height: 80px;
}



.cont-grillas {
width: 100px;
height: 100px;
display: flex;
justify-content: center;
}

.grilla-img2 {
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.grilla-img3 {
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.grilla-img4 {
    width: 50px;
    height: 100px;
}
.grilla-img5 {
    width: 50px;
    height: 100px;
}
.grilla-img6 {
    width: 50px;
    height: 100px;
}
.grilla-img7 {
    width: 50px;
    height: 100px;
}
.grilla-img8 {
    width: 50px;
    height: 100px;
}
.grilla-img9 {
    width: 50px;
    height: 100px;
}
.grilla-img10 {
    width: 50px;
    height: 100px;
}
.grilla-img11 {
    width: 50px;
    height: 100px;
}
.grilla-img12 {
    width: 50px;
    height: 100px;
}
.grilla-img13 {
    width: 50px;
    height: 100px;
}
.grilla-img14 {
    width: 50px;
    height: 100px;
}


.form-contacto {
    width: 500px;
    height: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 100px;
}

.articulo1-compra {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
  } 


/* responsive movil */

@media (max-width: 480px) {

  .article1-main {
    width: 300px;
    height: 100px;
    margin-left: 80px;
}
.destacados {
    display: flex;
    margin-left: 180px;
    width: 100px;
    height: 50px;
}
.caja-img {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
}
.caja-img2 {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
}
.imagen-home {
    width: 250px;
    height: 150px;
    margin-left: 20px;
    margin: auto;
    align-items: center;
    display: inline-block;
}



.cont-grillas-prod {
width: 480px;
height: 400px;
display: flex;
justify-content: center;
align-items: flex-end;
}

.tamaño {
    width: 50px;
    height: 50px;
}



.cont-grillas1 {
width: 40px;
height: 60px;
display: flex;
justify-content: center;
}

.grilla-img2 {
    width: 40px;
    height: 60px;
}

.grilla-img3 {
    width: 40px;
    height: 60px;
}
.grilla-img4 {
    width: 40px;
    height: 60px;
}
.grilla-img5 {
    width: 40px;
    height: 60px;
}
.grilla-img6 {
    width: 40px;
    height: 60px;
}
.grilla-img7 {
    width: 40px;
    height: 60px;
}
.grilla-img8 {
    width: 40px;
    height: 60px;
}
.grilla-img9 {
    width: 40px;
    height: 60px;
}
.grilla-img10 {
    width: 40px;
    height: 60px;
}
.grilla-img11 {
    width: 40px;
    height: 60px;
}
.grilla-img12 {
    width: 40px;
    height: 60px;
}
.grilla-img13 {
    width: 40px;
    height: 60px;
}
.grilla-img14 {
    width: 40px;
    height: 60px;
}

.form-contacto {
    width: 400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 150px;
}

.articulo1-compra {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}
  }