/*EDICIÓN: HEADER GENERAL PARA TODAS LAS PAGINAS*/
header {
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: hwb(0 98% 2% / 0.995);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(8, 8, 8, 0.955);
    background-color: #db6930;
}

.header .navbar .navbar-expand-lg .bg-body-tertiary {
    background-color: #db6930;
}

.top-nav {
    text-align: center;
    font-style: initial;
    color: aliceblue;
}

.navinicio {
    justify-content: center;
}

.caja-icons {
    text-align: end;
}

.container-input {
    text-align: center;
    margin-top: 20px;
}

.div-p {
    list-style-type: none;
    text-align: center;
    border: solid 2px black;
    border-color: rgb(255, 165, 0);
}

.pheader {
    display: inline;
    background-color: rgb(255, 165, 0)
}

.ulnav {
    list-style-type: none;
    text-align: center;
}

.li {
    display: inline;
}

.a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}

.div-logo {
    border: solid 2px black;
}

input {
    list-style-type: none;
    align-items: center;
}