/*EDICIÓN: HEADER GENERAL PARA TODAS LAS PAGINAS*/
header {
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #ff5500;
    background-color: #ff5500(35 0% 2% / 0.995);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(8, 8, 8, 0.955);
    background-color: #db6930;

    header .style {
        background-color: #ff5500;
    }

    .header .navbar .navbar-expand-lg {
        background-color: #ff5500;
    }

    .top-nav {
        text-align: center;
        font-style: initial;
        color: rgb(240, 248, 255);
    }

    .navinicio {
        justify-content: center;
    }

    .container text-center {
        background-color: #db6930;
    }

    .caja-icons {
        text-align: end;
    }

    .container-input {
        text-align: center;
        margin-top: 20px;
    }

    .div-p {
        list-style-type: none;
        text-align: center;
        border: solid 2px black;
        border-color: #db6930;
    }

    .pheader {
        display: inline;
        background-color: #db6930;
    }

    .ulnav {
        list-style-type: none;
        text-align: center;
    }

    .li {
        display: inline;
    }

    .a {
        color: black;
        padding: 0 4px;
        text-decoration: none;
    }

    .div-logo {
        border: solid 2px black;
    }

    input {
        list-style-type: none;
        align-items: center;
    }
}